.productRow {
    padding-top: 50px;
}

.featured {
	padding-top: 40px;
	padding-bottom: 40px;
}

.list_title {
	margin-bottom: 50px;
	text-align: center;
}

.list_title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.list_title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: var(--main-color);
	content: "";
	margin: 0 auto;
}
.featured .react-multiple-carousel__arrow::before {
	color: var(--main-color);
	font-weight: bold;
}
.featured .react-multiple-carousel__arrow{
	opacity: 0;
	background-color: #fff;
	border: solid 2px var(--main-color);
	transition: opacity 0.5s linear ;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
}
.featured:hover .react-multiple-carousel__arrow {
	opacity: 1;
}
.featured .react-multiple-carousel__arrow:hover::before {
	color: #fff;
}
.featured .react-multiple-carousel__arrow:hover{
	background-color: var(--main-color);
	border: none;
}
.add_shadow {
	position: relative;
	padding: 40px 30px;
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.2);
}

.featured .react-multi-carousel-dot-list {
	bottom: 20px;
}

/* .featured .react-multi-carousel-dot-list .react-multi-carousel-dot button{
	border-color: var(--main-color);
}
.featured .react-multi-carousel-dot--active button {
	background-color: var(--main-color);
} */