.add_border {
    border: 1px solid #d1d5da;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar__item {
	margin-bottom: 35px;
}

.sidebar__item ul li {
	list-style: none;
}

.sidebar__item h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 25px;
}
.sidebar__item input {
    margin-right: 10px;
}
.departments input{
    margin-right: 10px;
}

.filter__sort {
    margin-bottom: 15px;
    
}

.filter__sort .text {
	font-size: 16px;
	color: #6f6f6f;
    display: inline-block;
    margin-right: 15px;
}

.filter__found {
	text-align: center;
	margin-bottom: 15px;
}

.filter__found h6 {
	font-size: 16px;
	color: #b2b2b2;
}

.filter__found h6 span {
	color: #1c1c1c;
	font-weight: 700;
	margin-right: 5px;
}

.filter__sort ul {
    list-style-type: none;
}

.custom_select {
    position: relative;
}

.custom_select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
  }
  
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
  

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
  
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
  
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}