.hero__categories>ul {
    position: absolute;
	border: 1px solid #ebebeb;
	padding-top: 10px;
    padding-bottom: 12px;
    left: 0;
	top: 46px;
    width: 100%;
    z-index: 8;
	background: #ffffff;
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.4s ease, border 0.4s ease;
}
.hero__categories>ul>li {
    position: relative;
    padding-left: 40px;
	list-style: none;
}

.hero__categories>ul>li>.title {
    font-weight: bold;
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
    margin-left: -1.5em;
}

.hero__categories>ul>li:hover {
    background-color: #f1f1f1;
    
}
.hero__categories>ul>li:hover>.title{
    color: var(--main-color);
    font-weight: bold;
}


.hero__categories>ul>li:hover .dropdown_container {
    display: block;
}

.dropdown_container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 0;
    left: 100%;
    z-index: 9;
    padding: 30px 20px;
    width: 800px;
    max-height: 400px;
    overflow-y: auto;
}
.dropdown_container ul{
    list-style-type: none;
}
.dropdown_container .title {
    font-weight: bold;
    font-size: 16;
    margin: 10px 0px;
}

.dropdown_container a {
    font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
    display: block;
    text-decoration: none;
}
.dropdown_container>ul>li:first-child .title{
    margin-top: 0px;
}

.dropdown_container .hover_link:hover {
    background-color: #f1f1f1;
}
.dropdown_container ul {
    position: static;
}

.dropdown_container .dropdown_col {
    float: left;
    max-height: 400px;
    overflow-y: auto;
}