.header__top {
	background-color: #f5f5f5 ! important

}
.body{
	background-color: blue;
  }
.header__top__left {
    padding: 10px 0 13px;
}
.header__top__left ul {
	margin-bottom: 0 ;
}
.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}

.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__logo {
	padding-top: 15px;
}

.header__logo a {
	display: inline-block;
}

.header__logo img {
	margin: auto;
	height: 50px;
}
.header__menu {
	padding-top: 24px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 8;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: var(--main-color);
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li .active{
	color: var(--main-color);
	border-bottom: 2px solid var(--main-color);
}


.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li a:hover {
	color: var(--main-color);
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
	text-decoration: none;
}

.header__cart {
	padding: 10px;
	border: 2px solid red;
    position: fixed;
    text-align: right;
    right: 2%;
	bottom: 20px;
	
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: var(--main-color);
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 20px;
	color: red;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.hero {
	padding-bottom: 30px;
}


.hero .hero__categories {
	position: relative;
	margin-top: 12px;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: var(--main-color);
	position: relative;
	padding: 10px 20px 10px;
	cursor: pointer;
	height: 50px;
}

.hero__categories__all .fai {
	font-size: 16px !important;
	color: #ffffff !important;
	margin-right: 15px !important;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.hero__categories__all .fai_after {
	position: absolute;
	right: 18px;
	top: 9px;
	font-size: 18px;
	color: #ffffff;
}


.hero__search {
	overflow: hidden;
	margin-bottom: 30px;
}

.hero__search__form {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
	margin-top: 12px;
}

.hero__search__form form .hero__search__categories {
	width: 20%;
	float: left;
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	padding-left: 18px;
	padding-top: 11px;
	position: relative;
}

.hero__search__form form .hero__search__categories:after {
	position: absolute;
	right: 0;
	top: 14px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.hero__search__form form .hero__search__categories .fai_after {
	position: absolute;
	right: 10px;
	top: 17px;
	font-size: 14px;
	color: black;
}

.hero__search__form form input {
	width: 70%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form form button {
	position: absolute;
	right: 0;
	top: -1px;
	height: 50px;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 10px 0;
	overflow: hidden;
	margin-top: 10px;
}

.footer__copyright__text {
	text-align: center;
	font-size: 14px;
	color: #1c1c1c;
	line-height: 25px;
	font-weight: bold;
}

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

html,
body {
	height: 100%;

}

:root {
	--main-color: #f17532;
	--second-color: #35b7c6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: var(--main-color);
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: var(--main-color);
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: var(--main-color);
	border: none;
}

.tmp_img0 {
	background-color: grey;
	height: 300px;
	width: 180px;
}