.inl_block {
    display: inline-block;
}

.select-box-arrow {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #aaa;
}

.select-box-arrow-down {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}

.select-box-arrow-up {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}